<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.alone.special.noticeEvent.domain.NoticeEvent" alias="NoticeEvent"/>
		<typeAlias type="com.alone.special.user.domain.User" alias="User"/>
		<typeAlias type="com.alone.special.foodProduct.domain.FoodProduct" alias="FoodProduct"/>
		<typeAlias type="com.alone.special.hobby.domain.Category" alias="Category"/>
		<typeAlias type="com.alone.special.hobby.domain.Board" alias="Board"/>
		<typeAlias type="com.alone.special.product.domain.Product" alias="Product"/>
		<typeAlias type="com.alone.special.review.domain.Review" alias="Review"/>
		<typeAlias type="com.alone.special.admin.domain.Singo" alias="Singo"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/noticeEvent-mapper.xml" />
		<mapper resource="mappers/user-mapper.xml" />
		<mapper resource="mappers/food/foodProduct-mapper.xml"/>
		<mapper resource="mappers/hobby/category-mapper.xml"/>
		<mapper resource="mappers/hobby/board-mapper.xml"/>
		<mapper resource="mappers/product-mapper.xml"/>
		<mapper resource="mappers/review-mapper.xml"/>
		<mapper resource="mappers/singo-mapper.xml"/>
	</mappers>
</configuration>