h2 b{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 3rem;
  }
  #main_middle {
    margin-top: 30px;
  }

.search {
    margin-left: 7%;
}
#findProduct {
font-size: inherit;
background-color: rgba(0,0,0,0);
border: none;
margin-left: 5px;
}
form{
	margin-top : 30px;
}
tfoot a{
	margin : 0 10px;
}