h2 b{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 3rem;
  }
  #main_middle {
    margin-top: 30px;
  }

.search {
    margin-left: 3%;
    display: flex;
}
#findProduct {
font-size: inherit;
background-color: rgba(0,0,0,0);
border: none;
margin-left: 5px;
}
form{
	margin-top : 30px;
	width: 50%;
}
#main_middle td a{
  	text-decoration: none;
  }
tfoot a{
	margin : 0 10px;
}
.writeBtn {
  position: relative;
  left: -15%;
  padding: 0px 10px;
  border-radius: 10px;
}
.cancel {
  background-color: #ccc;
  font-family: 'Nanum Pen Script', cursive;
  font-size: x-large;
}